@import "/tmp/ags_endchill/style_virables.scss";

:root {
    font-family: "Ubuntu Nerd Font";
    font-weight: bold;
    font-size: #{$scale_factor * 16}px;
}

#bar.window {
    background-color: #070707;
    border-bottom: #{$scale_factor * 2}px solid #4f4f4f;
    min-height: #{$scale_factor * 48}px;
}

#clock {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    padding: #{$scale_factor * 8}px #{$scale_factor * 16}px;
    margin: #{$scale_factor * 8}px #{$scale_factor * 4}px;
    transition: all 0.25s ease;
    background-image: none;
}

#clock.am {
    color: #f2f200;
}

#clock.pm {
    color: #2692ff;
}

#batteryEntry,
#tailscale {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    padding: #{$scale_factor * 8}px #{$scale_factor * 16}px;
    margin: #{$scale_factor * 4}px;
    transition: all 0.25s ease;
    background-image: none;
}

#tailscale.disconnected,
#tailscale.loginrequired,
#tailscale.unknown {
    color: #ef2f2f;
}

#trayBar {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    padding: #{$scale_factor * 0}px #{$scale_factor * 8}px;
    margin: #{$scale_factor * 8}px;
    transition: all 0.25s ease;
}

#trayBar menubutton button {
    background-color: #0b0b0b;
    border: none;
    border-radius: #{$scale_factor * 24}px;
    padding: 0px #{$scale_factor * 5}px;
    margin: #{$scale_factor * 4}px 0px;
    transition: all 0.25s ease;
    background-image: none;
}

#trayBar popover.menu contents,
#trayBar popover.menu button.model {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    padding: #{$scale_factor * 8}px;
    margin: #{$scale_factor * 8}px;
    transition: all 0.25s ease;
}

#power {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    min-height: #{$scale_factor * 36}px;
    min-width: #{$scale_factor * 36}px;
    padding: 0px;
    margin: #{$scale_factor * 4}px;
    transition: all 0.25s ease;
    background-image: none;
}

#appLauncher.window {
    background-color: #070707;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    min-height: #{$scale_factor * 480}px;
    min-width: #{$scale_factor * 960}px;
    margin-top: #{$scale_factor * 16}px;
    margin-right: #{$scale_factor * 16}px;
    transition: all 0.25s ease;
}

#sidePanel.window {
    background-color: #070707;
    border-right: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: 0px;
    min-width: #{$scale_factor * 480}px;
    padding: #{$scale_factor * 8}px;
}

#secondSidePanel.window {
    background-color: #070707;
    border-right: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: 0px;
    min-width: #{$scale_factor * 480}px;
    padding: #{$scale_factor * 8}px;
    margin-left: #{$scale_factor * 498}px;
}

#systemStatus {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    min-width: #{$scale_factor * 128}px;
    padding: 0px #{$scale_factor * 4}px;
    margin: #{$scale_factor * 8}px #{$scale_factor * 4}px;
    transition: all 0.25s ease;
    background-image: none;
}

#quickSettings.window {
    background-color: #070707;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    min-height: #{$scale_factor * 420}px;
    min-width: #{$scale_factor * 480}px;
    padding: #{$scale_factor * 8}px;
    margin-top: #{$scale_factor * 16}px;
    margin-right: #{$scale_factor * 16}px;
    transition: transform 0.25s ease;
}

#quickSettings .wifiMenuEntry,
#quickSettings .bluetoothMenuEntry,
#quickSettings .menuEntry {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 48}px;
    min-height: #{$scale_factor * 48}px;
    min-width: #{$scale_factor * 220}px;
    margin: #{$scale_factor * 4}px;
    background-image: none;
    transition: all 0.25s ease;
}

#bar .musicPlayerLabels {
    border: #{$scale_factor * 2}px solid transparent;
    border-radius: #{$scale_factor * 24}px;
    padding: #{$scale_factor * 8}px #{$scale_factor * 16}px;
    margin: #{$scale_factor * 8}px #{$scale_factor * 4}px;
    transition: all 0.25s ease;
    background-image: none;
}

#bar .musicPlayerCover {
    border: #{$scale_factor * 2}px solid transparent;
    border-radius: 0px;
    padding: 0px;
    margin: #{$scale_factor * 8}px #{$scale_factor * 4}px;
    transition: all 0.25s ease;
    background-image: none;
}

#bar .musicPlayerControls {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    padding: 0px #{$scale_factor * 12}px;
    margin: #{$scale_factor * 8}px #{$scale_factor * 4}px;
    transition: all 0.25s ease;
}

#bar .musicPlayerControls button {
    border: none;
    border-radius: #{$scale_factor * 24}px;
    padding: 0px #{$scale_factor * 6}px;
    margin: #{$scale_factor * 4}px 0px;
    transition: all 0.25s ease;
    background-image: none;
}

#musicPlayerSidePanel .cover {
    border: #{$scale_factor * 2}px solid transparent;
    border-radius: 0px;
    padding: 0px;
    margin: #{$scale_factor * 8}px;
    transition: all 0.25s ease;
    background-image: none;
}

#musicPlayerSidePanel .musicPlayerControls {
    background-color: #0b0b0b;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    padding: #{$scale_factor * 8}px #{$scale_factor * 12}px;
    margin: #{$scale_factor * 8}px #{$scale_factor * 0}px;
    transition: all 0.25s ease;
}

#musicPlayerSidePanel .musicPlayerControls button {
    border: none;
    border-radius: #{$scale_factor * 24}px;
    padding: 0px #{$scale_factor * 6}px;
    margin: #{$scale_factor * 2}px 0px;
    transition: all 0.25s ease;
    background-image: none;
}

// #musicPlayerSidePanel .timePosSlider slider {
//     background-color: transparent;
//     border: none;
//     min-height: #{$scale_factor * 72}px;
// }
//
// #musicPlayerSidePanel .timePosSlider trough {
//     background-color: transparent;
//     color: transparent;
//     border: none;
//     border-radius: 0px;
// }
//
// #musicPlayerSidePanel .timePosSlider highlight {
//     border: none;
//     border-radius: 0px;
// }

#musicPlayerPopup.window {
    background-color: #070707;
    border: #{$scale_factor * 2}px solid #4f4f4f;
    border-radius: #{$scale_factor * 24}px;
    min-width: #{$scale_factor * 480}px;
    padding: #{$scale_factor * 8}px;
    margin-top: #{$scale_factor * 16}px;
}

#clock:hover,
#tailscale:hover,
#power:hover,
#systemStatus:hover,
#quickSettings .wifiMenuEntry:hover,
#quickSettings .bluetoothMenuEntry:hover,
#quickSettings .menuEntry:hover,
#bar .musicPlayerLabels:hover,
#bar .musicPlayerCover:hover,
#musicPlayerSidePanel .cover:hover,
#tray popover.menu button.model:hover {
    background: #171717;
    border: #{$scale_factor * 2}px solid #ffbf00;
}

#tray menubutton button:hover {
    background: #171717;
}
